In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("heart_disease_dataset.csv")
df1 = pd.read_csv("heart.csv")

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [4]:
df1.head()

,Age,Sex,Chest Pain Level,Resting Blood Pressure,Cholestrol,Fasting Blood Sugar,Resting ECG,Max Heart Rate,Excercise Induced Angina,Depression,SlopeC,Major Vessels,Thalassemia Level,Heart Disease,Age Group
0,63,Male,Stable,145,233,1,2,150,No,2.3,Downsloping,0,Fixed Defect,Absense,Super Senior Citizens
1,67,Male,Variant,160,286,0,2,108,Yes,1.5,Flat,3,Normal,Presence,Super Senior Citizens
2,67,Male,Variant,120,229,0,2,129,Yes,2.6,Flat,2,Reversable Defect,Presence,Super Senior Citizens
3,37,Male,Microvascular,130,250,0,0,187,No,3.5,Downsloping,0,Normal,Absense,Senior Citizens
4,41,Female,Unstable,130,204,0,2,172,No,1.4,Upsloping,0,Normal,Absense,Senior Citizens

In [44]:
df1['Thalassemia Level'].value_counts()

Normal               164
Reversable Defect    115
Fixed Defect          18
Name: Thalassemia Level, dtype: int64

In [45]:
df.thal.value_counts()

 3         166
 7         117
 6          18
-100000      2
Name: thal, dtype: int64

In [46]:
df.thal.max()

7

In [43]:
df.thal.min()

-100000